* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: burlywood;
}

h1 {
  font-size: 6rem;
  box-shadow: rgb(0, 0, 248) 0px 30px 60px -12px inset,
    rgba(230, 230, 230, 0.3) 0px 18px 36px -18px inset;
  border-radius: 20px;
  padding: 20px 30px;
}
